<h2>User info</h2>
<%= attachment_image_tag user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg" %>
<table class="table">
  <tbody>
    <tr>
      <th>name</th>
      <th><%= user.name %></th>
    </tr>
    <tr>
      <th>introduction</th>
      <th><%= user.introduction %></th>
    </tr>
    <tr>
      <th>follows</th>
      <th><%= link_to user_follower_path(user) do %><%= user.following_users.count %><% end %></th>
    </tr>
    <tr>
      <th>follower</th>
      <th><%= link_to user_followed_path(user) do %><%= user.followed_users.count %><% end %></th>
    </tr>
  </tbody>
</table>