<p id="notice"><%= notice %></p>
<div class="container px-5 px-sm-0">
  <div class="row">
    <!--side bar-->
    <div class="col-md-3">
      <%= render 'layouts/userinfo', user: @user %>
      <%= render 'layouts/newbook', book: @book %>
    </div>
    <!--main-->
    <div class="col-md-8 offset-md-1">
      <h2>Users</h2>
      <table class="table">
        <thead>
          <tr>
            <th>image</th>
            <th>name</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= attachment_image_tag user, :profile_image, :fill, 30, 30, fallback: "no_image.jpg" %></td>
              <td><%= user.name %></td>
              <td><%= link_to user_path(user.id), class: "fas fa-book-open badge badge-pill badge-secondary" do %>
                     <%= user.books.count %><% end %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>