<p id="notice"><%= notice %></p>
<div class="container px-5 px-sm-0">
  <%= render 'layouts/error.messages', validation: @book %>
  <div class="row">
    <!--side bar-->
    <div class="col-md-3">
      <%= render 'users/info', user: @user %>
      <%= render 'newbook', book: @book %>
    </div>
    <!--main-->
    <div class="col-md-8 offset-md-1">
      <%= render 'books', books: @books %>
    </div>
  </div>
</div>