<p id="notice"><%= notice %></p>
<div class="container px-5 px-sm-0">
  <%= render 'layouts/error.messages', validation: @book %>
  <div class="row">
    <!--side bar-->
    <div class="col-md-3">
      <%= render 'users/info', user: @user %>
      <%= render 'newbook', book: @book_new %>
    </div>
    <!--main-->
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table">
        <tbody>
          <tr>
            <td><%= link_to user_path(@user.id) do %>
                  <%= attachment_image_tag @user, :profile_image, :fill, 40, 40, fallback: "no_image.jpg" %><br>
                  <%= @user.name %>
                <% end %>
            </td>
            <td><%= link_to @book.title, book_path(@book.id) %></td>
            <td><%= @book.body %></td>
            <% if @book.user_id == current_user.id %>
              <td><%= link_to "Edit", edit_book_path(@book.id), class: "btn btn-success btn-sm" %></td>
              <td><%= link_to "Destroy", book_path(@book.id), method: :delete, "data-confirm" => "本当に消しますか？", class: "btn btn-danger btn-sm" %></td>
            <% else %>
              <td colspan="2"></td>
            <% end %>
            <td class="favorite-btn"><%= render 'favorites/favorite-btn', book: @book %></td>
            <td>コメント数：<%= @book.book_comments.count %></td>
          </tr>
        </tbody>
      </table>

      <div class="comments">
        <%= render 'book_comments/comments', book: @book,book_comment: @book_comment %>
      </div>
    </div>
  </div>
</div>